/**
 * OVERVIEW
 *
 * This file sets the layout of the page.
 */ 
 
  
 /**
 * CONTENTS
 *
 * LAYOUT
 * Grid.................Rules for the grid container.
 * Flexbox..............Rules for the flexbox container and items.
 * Floats...............Rules for the floats items.
 * Elements.............Rules for the other containers and items.
 *
 */





/*------------------------------------*\
  #GRID
\*------------------------------------*/

.navbar {
  position: fixed;
  top:      0;
  left:     0;
  display:  flex;
}

.main { display: flex; }

.project-tile {
  display:                grid;
  grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
  grid-gap:               2rem;
}



/*------------------------------------*\
  #FLEXBOX
\*------------------------------------*/

.row {
  position: relative;
  display: flex;
}

.flex-col { flex-direction: column; }





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

