* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(237, 56, 43, 0.9);
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}
#navbar {
  display: flex;
  align-items: flex-end;
}
.nav-ul-li {
  list-style-type: none;
  display: inline-block;
}
.nav-link {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  padding: 25px;
  line-height: 2rem;
  display: inline-block;
}
.nav-link:hover {
  background: linear-gradient(-15deg, rgba(25,25,25,1) 0%, rgba(112,112,112,1) 100%);
  color: #ccc;
  transition: color 0.5s;
}
#main {
  margin: 0px;
  margin-top: 75px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#welcome-section {
  height: 100vh;
  background-color: gray;
  background: linear-gradient(-15deg, rgba(25,25,25,1) 0%, rgba(112,112,112,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome-section > h1 {
  font-size: 3.5rem;
  color: #ccc;
}
#welcome-section > p {
  font-size: 2rem;
  color: rgba(237, 56, 43, 0.9);
  font-style: italic;
}
#projects {
  background: linear-gradient(165deg, rgba(112,112,112,1)  0%, rgba(25,25,25,1) 100%);
  padding: 100px 5px;
}
#projects > h2 {
  font-size: 2.6em;
  color: #ccc;
  margin: 10px 70px;
  text-align: center;
}

.filter-container {
  text-align: center;
}

.project-tile {
  margin: 50px auto;
  display: grid;
  max-width: 85%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}
.project-tile > a {
  text-decoration: none;
  color: #CCC;
  background-color: rgb(85, 85, 85);
  border-radius: 15px;
  padding: 10px;
}

.tiles:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
  transition: all 0.5s;
}

a > img {
  width: 100%;
  height: calc(100% - 6.8rem);
  object-fit: contain;
}
a > p {
  font-size: 1.4rem;
  font-weight: 200;
  padding: 15px 0;
  text-align: center;
}
.code {
  color: rgb(85, 85, 85);
  font-weight: bold;
}
.tiles:hover .code {
  color: #ff7f50;
  transition: color 0.5s;
}
#contact {
  background-color: rgb(85, 85, 85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#contact > h2 {
  font-size: 3.5em;
  color: #ccc;
}
#contact > p {
  font-size: 2rem;
  color: rgba(237, 56, 43, 0.9);
  font-style: italic;
}
footer {
  background-color: rgb(105, 105, 105);
  height: 50px;
  border-top: 4px solid rgba(237, 56, 43, 1);
  padding: 30px 50px;
  display: grid;
  place-items: center;
}
footer > p {
  font-size: 1.2em;
  color: #ccc;
}
#fcc {
  text-decoration: none;
  color: #ccc;
}
/* .fa-github:before {
    content: "\f09b"; 
}
.fa-free-code-camp:before {
    content: "\f2c5"; 
}
.fa-linkedin:before {
    content: "\f2c5"; 
} */
#contact-links {
  display: flex;
}
.contact-me {
  text-decoration: none;
  color: #ccc;
  margin: 20px;
  font-size: 1.4em;
  padding: 5px 5px 0 5px;
}
.contact-me:hover {
  margin-bottom: 0px;
  color: rgba(237, 56, 43, 1);
  transform: translateY(-5px);
  box-shadow: 7px 7px 5px 5px rgba(0,0,0,0.75);
  transition: all 0.5s;
}


@media (max-width: 600px) {
  #nav-ul, 
  #contact-links {
    flex-direction: column;
  }

  .nav-ul-li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact-me {
    margin: 20px;
    padding-top: 15px;
  }
  .contact-me:hover {
    margin: 20px 0 20px 40px;
  }
  #header {
    height: 204px;
  }
  #welcome-section > h1, 
  #projects > h2, 
  #contact > h2 {
    font-size: 1.5em;
  }
  #welcome-section > p, 
  a > p, 
  #contact > p {
    font-size: 1.1rem;
  }
}